/* Dark mode colors. */
:root {
	--sl-color-accent-low: #072d00;
	--sl-color-accent: #247f00;
	--sl-color-accent-high: #aad7a0;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #efefef;
	--sl-color-gray-2: #c7c7c7;
	--sl-color-gray-3: #929292;
	--sl-color-gray-4: #5b5b5b;
	--sl-color-gray-5: #363636;
	--sl-color-gray-6: #242424;
	--sl-color-black: #1b1b1b;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c0e2b8;
	--sl-color-accent: #237b00;
	--sl-color-accent-high: #0d3e00;
	--sl-color-white: #151a13;
	--sl-color-gray-1: #1f2a1c;
	--sl-color-gray-2: #303c2d;
	--sl-color-gray-3: #4f5c4d;
	--sl-color-gray-4: #82907f;
	--sl-color-gray-5: #c1c4c0;
	--sl-color-gray-6: #edf0ec;
	--sl-color-gray-7: #f4f7f3;
	--sl-color-black: #ffffff;
}
