
.playground-container {
    & details > textarea {
        width: 100%;
        height: 300px;
    }

    & menu.tab-bar {
        margin-top: 1em;
        padding: 0;
        list-style: none;
        display: flex;
  
        & > li > button {
            background: var(--sl-color-gray-6);
            border: none;
            border-radius: 7px 7px 0 0;
            padding: 0.5em 5ch;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }

        & > li > button:hover {
            filter: brightness(0.945);
            padding: 0.5em 6ch;
        }

        & > li > button.active {
            background: var(--sl-color-accent);
            color: var(--sl-color-text-invert);
        }
    }

    & section:has(.json-editor) {
        width: 100%;
        aspect-ratio: 16 / 9;
        border: 1px solid var(--sl-color-gray-6);
        display: grid;
        grid-template-rows: 1fr 30px;

        & .text-editor {
            height: 100%;
            overflow: auto;
        }

        & .editor-menu {
            list-style: none;
            display: flex;

            & > li {
                margin-right: 0.5em;
            }
        }
    }
}