html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	margin: 0px;
}

body {
	font-family: "ubuntu", sans-serif;
	background-color: #eaeaea;
	margin: 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.player-container {
    height: 100%;
}

