.editor {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(35, 35, 35);
    color: white;
}

.codejar-linenumbers {
    color: white;
    background-color: #6f7578;
}

.brackets {
    color: rgb(228, 228, 255);
}

.key {
    color: #9bc9e4;
}

.string {
    color: #daa477;
}

.number {
    color: #c4e4f3;
    font-weight: bolder;
}

.boolean-true {
    color: rgb(164, 255, 164);
}

.boolean-false {
   color: #ffa0a0
}

.separator {
    color: #b5c1c6;
}

.css-property {
    color: #c8e5ff;
}

.css-code {
    color: #ffecbc;
}

.css-query {
    color: #bcffc7;
}

.css-separator {
    color: rgb(162, 189, 166);
}